@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Koho", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #2d2d2d;
}
header {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  max-width: 0 auto;
  width: 100%;
  align-items: center;
  color: white;
  padding: 0.4em 3em;
}

h2 header {
  color: white;
}
h2 {
  color: black;
}

.nav-links {
  display: flex;
  list-style-type: none;
  transition: all 0.3s linear;
}
.nav-links li {
  display: inline-block;
}

.nav-link a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.nav-link a:hover {
  color: orangered;
}

main {
  position: relative;
  max-width: 80em;
  margin: 0 auto;
  padding: 4em 0;
  display: block;
  z-index: 2;
}

.logbox {
  padding: 2em 4em;
  max-width: 25em;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  background-color: whitesmoke;
}

.logbox h2 {
  margin: 1.25em auto;
}

.logbox a {
  color: black;
  font-weight: 1000;
}

.inputs {
  padding: 0.75em;
  max-width: 20em;
  margin: 0 auto;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2em auto;

  transition: all 200ms ease-out;
}

.fa-envelope::before {
  content: "\f0e0";
}

.fa-lock::before {
  content: "\f023";
}

.fa,
.far,
.fas {
  font-weight: 900;
  color: black;
  margin-right: 0.5em;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
}

button {
  font-size: 1em;
  background: orangered;
  border-radius: 2em;
  padding: 0.5em 2em;
  border: none;
  color: #fff;
  opacity: 0.8;
  margin-top: 2em;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

footer {
  margin-top: 3em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #4a4d4a;
  font-size: 0.6em;
  padding: 0.4em;
  color: aliceblue;
}

footer h2 {
  color: #fff;
  max-width: 1024px;
  margin: 0 auto;
  font-weight: 400;
}

p {
  font-size: medium;
}

.sign-up-btn a:hover {
  color: orangered;
}
